{% extends "blog/base.html" %} {% block content %}

<div class="content-section">

    <h1>Blog Web Application</h1>

    <p>
        This is my first full-featured web application written using Django Python Framework. This is a blog app where
        most of the common functionalities of a web application can be built such as:
    </p>

    <ul>
        <li> Web Fundamentals (HTML/CSS/JS)</li>
        <li>Bootstrap</li>
        <li>Jinja</li>
        <li>Model-View-Template Design Pattern</li>
        <li>User Registration</li>
        <li>User Authentication</li>
        <li>Forgot Password Email Reset Feature (I used Gmail SMTP.)</li>
        <li>Database</li>
        <li>Object Relational Mapping</li>
        <li>CRUD Operations</li>
        <li>Local File Upload</li>
        <li>Connect Files to Amazon Web Services, S3 Bucket</li>
        <li>Deployment (I used Heroku.)</li>
    </ul>



</div>
{% endblock content %}